[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Redefined. Free/Libre Open Source Software Binaries of VS Code.
GenericName=Text Editor
Exec=AppRun %F
Icon=vscodium
Type=Application
StartupNotify=true
StartupWMClass=VSCodium
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Keywords=vscode;developer;editor;

Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=AppRun --new-window %F